*.pyc
*.egg-info
/.idea/
*.glf
*.rar
/build/
/dist/
/documentation/build/
/metadrive.egg-info/
/metadrive/examples/**.png
/metadrive/examples/**.jpg

/documentation/*

output*
data
configs
rl_outputs*
tests*
tmp*
.codex
install.log
mm*