[submodule "rl_framework"]
	path = rl_framework
	url = git@github.com:CHJK-reinforce/RLframework_AD.git
[submodule "UniAD_SIM"]
	path = UniAD_SIM
	url = https://github.com/hyzhou404/UniAD_SIM.git
[submodule "VAD"]
	path = VAD
	url = https://github.com/hustvl/VAD.git
