[submodule "rl_framework"]
	path = rl_framework
	url = git@github.com:CHJK-reinforce/RLframework_AD.git
[submodule "UniAD_SIM"]
	path = UniAD_SIM
	url = https://github.com/hyzhou404/UniAD_SIM.git
[submodule "VAD"]
	path = VAD
	url = https://github.com/hustvl/VAD.git
[submodule "transfuser"]
	path = transfuser
	url = https://github.com/autonomousvision/transfuser.git
[submodule "DiffusionDrive"]
	path = DiffusionDrive
	url = https://github.com/hustvl/DiffusionDrive.git
[submodule "navsim"]
	path = navsim
	url = https://github.com/autonomousvision/navsim.git
