*.pyc
*.egg-info
/.idea/
*.glf
*.rar
/build/
/dist/
/documentation/build/
/streetworld.egg-info/
/streetworld/examples/**.png
/streetworld/examples/**.jpg

/documentation/*

output*
data
configs
!/streetworld/configs/
!/streetworld/configs/*.py
rl_outputs*
tests*
!tests/
tests/*
!tests/test_easydrive_tui.py
tmp*
.codex
install.log
mm*
videos*
VAD
TransFuser
alpama*
!streetworld/configs/alpamayo_config.py
AutoVLA
DiffusionDrive
Alpamayo*
