recursive-include streetworld/examples/ *
recursive-include streetworld\\examples\\ *
recursive-include streetworld\examples\ *

recursive-include streetworld/render_pipeline/ *
recursive-include streetworld\\render_pipeline\\ *
recursive-include streetworld\render_pipeline\ *

recursive-include streetworld/shaders/ *
recursive-include streetworld\\shaders\\ *
recursive-include streetworld\shaders\ *

recursive-include streetworld/third_party/simplepbr/shaders/ *
recursive-include streetworld\\third_party\\simplepbr\\shaders\\ *
recursive-include streetworld\third_party\simplepbr\shaders\ *